<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= presentationTitle %></title>
    <link rel="stylesheet" href="./node_modules/reveal.js/css/reveal.css">
    <% if (printable) { %>
      <link rel="stylesheet" href="./node_modules/reveal.js/css/print/pdf.css">
    <% } %>
    <link rel="stylesheet" href="<%= theme %>" id="theme">
    <script src="./node_modules/reveal.js/lib/js/head.min.js"></script>
    <script src="./node_modules/reveal.js/js/reveal.js"></script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section data-markdown="<%= presentationFile %>"
                 data-separator="^(\r\n\r\n\r\n|\n\n\n)"
                 data-separator-vertical="^(\r\n\r\n|\n\n)"
                 data-separator-notes="^Note:"
                 data-charset="iso-8859-15">
        </section>
      </div>
    </div>
    <script>
      Reveal.initialize(<%- revealOptions %>);
    </script>
  </body>
</html>
